# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
!.vscode/settings.json
!.vscode/extensions.json
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
.oxfmt_cache/
.dev/

# deps
node_modules/
dist/
coverage/

# env
.env
.env.development
.env.production
.env.test

# logs
logs/
*.log
storage/logs/*
!storage/logs/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# misc
.DS_Store
/.idea/.gitignore
/.idea/api-web-hono-ebelanja.iml
/.vscode/extensions.json
/.idea/modules.xml
/.idea/php.xml
/.vscode/settings.json
/.idea/vcs.xml
/.idea/service-web-hono.iml
